.uiButton{
    /* remove o valor default que vier */
    background-color: unset;
    /* ou */
    /* background-color: transparent; */
    /* border: 1px solid #3498db; */
    border-radius: 4px;
    /* color:#3498db; */
    text-decoration: none;
    padding: 10px 20px;
    max-height: 40px;
    /* margin-left: 10px; */
    /* para não quebrar a linha */
    white-space: nowrap;
    margin-right: 8px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.uiButton--bordered-primary{
    color:#ff0000;
    border: 1px solid #ff0000;

}
.uiButton--bordered-primary:hover{
    color:#00ffff;
    border: 1px solid #00ffff;

}

.uiButton--contained-success{
    color:#fff;
    background-color: #ff2600;
    border: 1px solid #ff1100;
}
.uiButton--contained-success:hover{
    color:#fff;
    border: 1px solid #ff0800;
}

.uiButton--bordered-warning{
    color:#ffffff;
    border: 1px solid rgb(255, 255, 255);
}

.uiButton--bordered-warning:hover{
    color:#00bdf7;
    border: 1px solid #00bdf7;
}

.uiButton--contained-warning{
    color:#fff;
    background-color: #e5ae08;
    border: 1px solid #e5ae08;
}

.uiButton--contained-primary{
    color:#fff;
    background-color: #3498db;
    border: 1px solid #3498db;
}